@import '_colors';

:host {
  display: inline-block;
  user-select: none;
  padding: 40px 40px 35px;
  background-color: white;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: 945px) {
    padding: 20px;
  }
}

.info,
.reset {
  font-weight: 600;
  font-size: 16px;
}

.reset {
  color: $primary-color;
  cursor: pointer;

  &::before {
    content: ' ';
  }
}
