<div class="new-arrivals-wrapper section-wrapper">
  <h2 class="title-medium">
    new <span class="title-medium title-medium_primary-color">arrivals</span>
  </h2>
  <p class="text">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry
  </p>
  <div class="cards-container">
    <app-card-product
      image-url="assets/images/Product_Img-jasket3.png"
      title="Reebok Track Jacket"
      price="100"
      currency-sign="$"
      [sizes]="['s', 'm', 'l', 'xl']"
      [colors]="['red', 'green', 'blue', 'black']">
    </app-card-product>
    <app-card-product
      image-url="assets/images/Product_Img-jasket3.png"
      title="Reebok Track Jacket"
      price="100"
      currency-sign="$"
      [sizes]="['s', 'm', 'l', 'xl']"
      [colors]="['red', 'green', 'blue', 'black']">
    </app-card-product>
    <app-card-product
      image-url="assets/images/Product_Img-jasket3.png"
      title="Reebok Track Jacket"
      price="100"
      currency-sign="$"
      [sizes]="['s', 'm', 'l', 'xl']"
      [colors]="['red', 'green', 'blue', 'black']">
    </app-card-product>
    <app-card-product
      image-url="assets/images/Product_Img-jasket3.png"
      title="Reebok Track Jacket"
      price="100"
      currency-sign="$"
      [sizes]="['s', 'm', 'l', 'xl']"
      [colors]="['red', 'green', 'blue', 'black']">
    </app-card-product>
  </div>
  <a href="#" class="load-more">
    <span class="load-more__circle"></span>
    <span class="load-more__circle"></span>
    <span class="load-more__circle"></span>
  </a>
</div>
