<div class="new-arrivals-wrapper section-wrapper">
  <h2 class="title-medium">
    new <span class="title-medium title-medium_primary-color">arrivals</span>
  </h2>
  <p class="text">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry
  </p>
  <div class="cards-container">
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
  </div>
  <a href="#" class="load-more">
    <span class="load-more__circle"></span>
    <span class="load-more__circle"></span>
    <span class="load-more__circle"></span>
  </a>
</div>
