<header class="header">
  <div class="header-contacts-container">
    <div class="header-contacts">
      <div class="header-contacts__info">
        <a href="mailto:info@shopy.com" class="header-contacts__item">
          <i class="icon material-icons primary-color">
            mail_outline
          </i>
          <p class="header-contacts__text">info@shopy.com</p>
        </a>
        <a href="tel:+14535553996" class="header-contacts__item">
          <i class="icon material-icons primary-color">
            phone_android
          </i>
          <p class="header-contacts__text">453 - 5553 - 996</p>
        </a>
        <select class="languages-translator" #langSelect (change)="changeLanguage(langSelect.value)">
          <option *ngFor="let lang of localizationService.getLangs()" [value]="lang" [selected]="lang === localizationService.getLocale()">{{ lang }}</option>
        </select>
      </div>
      <div class="header-contacts__social-media">
        <a href="#" target="_blank" class="icon icon__facebook"></a>
        <a href="#" target="_blank" class="icon icon__twitter"></a>
        <a href="#" target="_blank" class="icon icon__google-plus"></a>
        <a href="#" target="_blank" class="icon icon__instagram"></a>
      </div>
    </div>
  </div>
  <div class="header-navbar">
    <div class="header-navbar__left">
      <a routerLink="/" class="header-navbar__logo">
        <div class="logo-wrapper">
          <p class="logo-text_large">sh</p>
          <img src="/assets/images/logo.svg" alt="logo" class="logo-img">
          <p class="logo-text_large">py</p>
        </div>
        <p class="logo-text">shope any where</p>
      </a>
      <nav class="header-navbar__content">
        <a class="header-navbar__item" routerLink="/">{{ 'nav.home' | translate }}</a>
        <a class="header-navbar__item" routerLink="/products">{{ 'nav.products' | translate }}</a>
        <a class="header-navbar__item" routerLink="/hot-deals">{{ 'nav.hot-deals' | translate }}</a>
        <a class="header-navbar__item" routerLink="/about">{{ 'nav.about' | translate }}</a>
        <a class="header-navbar__item" routerLink="/contact">{{ 'nav.contact' | translate }}</a>
      </nav>
      <nav class="mobile-menu">
        <input type="checkbox" id="checkbox" class="mobile-menu__checkbox">
        <label for="checkbox" class="mobile-menu__btn">
          <div class="mobile-menu__icon"></div>
        </label>
        <div class="mobile-menu__container">
        <ul class="mobile-menu__list" (click)="onClickMenuItem()">
          <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">{{ 'nav.home' | translate }}</a></li>
          <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">{{ 'nav.products' | translate }}</a></li>
          <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">{{ 'nav.hot-deals' | translate }}</a></li>
          <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">{{ 'nav.about' | translate }}</a></li>
          <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">{{ 'nav.contact' | translate }}</a></li>
        </ul>
        </div>
      </nav>
    </div>
    <div class="header-navbar__right">
      <form action="GET" class="search-container" (ngSubmit)="submit()">
        <input type="search" name="search" class="button button_search" [(ngModel)]="searchForm['search']" />
      </form>
      <button class="button button_account"></button>
      <app-favourites mat-button (click)="openFavourites()"></app-favourites>
      <app-cart mat-button (click)="openCart()"></app-cart>
    </div>
  </div>
  <form action="GET" class="search-container_mobile" (ngSubmit)="submit()">
    <input type="search" name="search" class="button button_search button_search-mobile"  [(ngModel)]="searchForm['search']"/>
  </form>
</header>
