@import 'colors';
@import 'variables';
@import 'mixins';

button[disabled] {
  background: #cad1cd;
  color: #ffffff3b;
  cursor: default;
  outline: none;
}

.button-container {
  position: relative;
  &_end {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 15px;
  }
}

.button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;

  &_search {
    @include fonts (transparent, "Open Sans", 14px, 500);
    @include icon (url(/assets/images/search-24px.svg), 46px, 22px, 0);
    background-repeat: no-repeat;
    &:hover {
      filter: invert(37%) sepia(51%) saturate(2878%);
    }
    &:focus {
      @include fonts ($black, "Open Sans", 14px, 500);
    }

    @include for-phone-intermediate {
      margin: 0;
      height: auto;
      width: 100%;
    }
  }

  &_search-mobile {
    @include fonts ($black, "Open Sans", 14px, 500);
    @include icon (url(/assets/images/search-24px.svg), 21px, 21px, 0);
    max-width: 1000px;
    width: 100%;
    padding: 0 0 0 30px;
  }

  &_account {
    @include icon (url(/assets/images/person-24px.svg), 20px, 21px, 29px);
    background-repeat: no-repeat;
    &:hover {
      filter: invert(37%) sepia(51%) saturate(2878%);
    }
    @include for-tablet-intermediate {
      margin-right: 24px;
    }
  }

  &_favourites {
    @include icon (url(/assets/images/favorite_border-24px.svg), 22px, 21px, 29px);
    background-repeat: no-repeat;
    &:hover {
      filter: invert(37%) sepia(51%) saturate(2878%);
    }
    @include for-tablet-intermediate {
      margin-right: 13px;
    }
  }

  &_shopping-cart {
    @include icon (url(/assets/images/logo-basket.svg), 24px, 17px, 0);
    background-repeat: no-repeat;
    filter: invert(36%) sepia(51%) saturate(2878%);

    &__count {
      position: absolute;
      top: -32px;
      left: 9px;
      background-color: #34404b;
      @include fonts (#ffffff, "Open Sans", 10px, 300);
      line-height: 1.8;
      text-align: center;
      width: 18px;
      height: 18px;
      border-radius: 50%;
    }
    &:hover {
      filter: invert(37%) sepia(51%) saturate(2878%);
    }
  }

  &_common {
    position: relative;
    min-width: 100px;
    padding: 16px 30px;
    @include fonts (#ffffff, "Open Sans", 14px, 400);
    background-color: $primary-color;
  }

  &_order {
    @include flex;
    justify-content: center;
    text-decoration: none;
    padding: 20px;
    height: 49px;
    border-radius: 25px;
    background-color: #ff5912;
    @include fonts(#ffffff, "Open Sans", 18px, 400);
    text-transform: capitalize;

    &:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }
  }

  &_delete {
    margin-left: auto;
    padding: 2px 4px;
    cursor: pointer;
    border-radius: 25px;
    display: inline-block;
    text-align: center;

    &:hover {
      background: rgba(0, 0, 0, 0.04);
    }
  }

  &_delete-all {
    @include flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-color: #ff5912;
    outline: none;
    @include fonts(#ffffff, "Open Sans", 18px, 400);
    text-transform: capitalize;
    padding: 0;
    display: inline-block;
    text-align: center;

    &:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }
  }
  &_form-account {
    position: relative;
    @include flex;
    justify-content: center;
    margin-top: auto;
    width: 100%;
    height: 40px;
    background-color: #ff5912;
    outline: none;
    @include fonts(#ffffff, "Open Sans", 18px, 400);
    text-transform: capitalize;
    padding: 0;
    display: inline-block;
    text-align: center;

    &:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }
  }
  &_form-log-out {
    margin-bottom: 10px;
  }
}
