@import 'colors';
@import 'variables';
@import 'mixins';

.button-container {
  position: relative;
}

.button {
  border: none;
  cursor: pointer;

  &_search {
    @include fonts ($black, Poppins, 14px, 500);
    @include icon (url(/assets/images/Search_Ico.svg), 18px, 20px, 34px);
    background-repeat: no-repeat;
    @include for-phone-intermediate {
      margin: 0;
      height: auto;
      width:100%;
      border-bottom: 2px solid $primary-color;
      outline: none;
    }
  }

  &_account {
    @include icon (url(/assets/images/User_Ico.svg), 20px, 21px, 29px);
    background-color: transparent;
  }

  &_shopping-cart {
    @include icon (url(/assets/images/Cart_Ico.svg), 24px, 17px, 0);
    background-color: transparent;
    filter: invert(36%) sepia(51%) saturate(2878%);

    &__count {
      position: absolute;
      top: -32px;
      left: 3px;
      background-color: #34404b;
      @include fonts (#ffffff, Poppins, 10px, 300);
      line-height: 2;
      text-align: center;
      width: 18px;
      height: 18px;
      border-radius: 50%;
    }
  }

  &_common {
    min-width: 100px;
    padding: 16px 30px;
    @include fonts (#ffffff, Poppins, 14px, 400);
    background-color: $primary-color;
  }

  &_order {
    @include flex;
    justify-content: center;
    text-decoration: none;
    width: 134px;
    height: 49px;
    border-radius: 25px;
    background-color: #ff5912;
    outline: none;
    @include fonts(#ffffff, Poppins, 18px, 400);
    text-transform: capitalize;
    &:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }
  }
}
