$mat-blue-gray-800: #34404b;
$mat-deep-orange-500: #ff5912;
$black: #000000;
$white: #ffffff;

$primary-color: $mat-deep-orange-500;
$secondary-color: $mat-blue-gray-800;

$text-color: $mat-blue-gray-800;
$text-color-secondary: #495662;

$background-default-color: #f4f6f8;

$error-color: #D8000C;
$sucess-color: #2fb759;

$form-input-color: #34404b;
