.icon {
  display: block;
  cursor: pointer;

  &:hover {
    filter: invert(37%) sepia(51%) saturate(2878%);
  }

  &__facebook {
    @include icon (url(/assets/images/facebook.svg), 6px, 11px, 20px);
  }

  &__twitter {
    @include icon (url(/assets/images/twitter.svg), 14px, 11px, 20px);
  }

  &__google-plus {
    @include icon (url(/assets/images/google_+.svg), 13px, 11px, 20px);
  }

  &__instagram {
    @include icon (url(/assets/images/instagram.svg), 11px, 11px, 0);
  }

  &__add-to-cart {
    &_right {
      margin-right: 9px;
    }
  }

  &__like {
    @include icon (url(/assets/images/favorite_border-24px.svg), 22px, 21px, 0);

    &:hover {
      @include icon (url(/assets/images/favorite-24px.svg), 22px, 21px, 0);
    }
  }
}

.material-icons.primary-color {
  color: #ff5912;
}

.material-icons {
  &:hover {
    filter: invert(37%) sepia(51%) saturate(2878%);
  }
}
