.picture-container {
  max-width: 220px;
  max-height: 275px;
  display: block;
  @media (max-width: 565px) {
    max-width: 190px;
  }
  &__content {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
}