@import 'colors';

.search-container {
  input[type="search"] {
    -webkit-appearance: textfield;
  }
  .button_search:hover {
    background-color: transparent;
  }
  .button_search:focus {
    width: 400px;
    height: 24px;
    padding-left: 25px;
    transition: width 2s;
    -webkit-transition: width 2s;
    color: $black;
    box-sizing: border-box;
    border-bottom: 2px solid $primary-color;
    cursor: auto;
    outline: none;
  }
  @include for-tablet-landscape-up {
    display: none;
  }
  &_mobile {
    input[type="search"] {
      -webkit-appearance: textfield;
    }
    display: none;
    border-bottom: 2px solid $primary-color;
    @include for-tablet-landscape-up {
      display: block;
      margin: 20px 10px;
    }
  }
}
