
<div class="card-product">
  <div class="card-product__header">
      <img class="card-product__img" src="assets/images/Product_Img-jasket3.png" alt="product1">
  </div>
  <div class="card-product__body">
      <div class="card-product__title">Reebok Track Jacket</div>
      <div class="card-product__price">100$</div>
  </div>
  <div class="card-product-hover">
      <div class="card-product-hover__header">
          <img class="card-product-hover__img" src="assets/images/Product_Img-jasket3.png" alt="min-product">
      </div>
      <div class="card-product-hover__body">
          <a href="#" class="card-product-hover__title">Reebok Track Jacket</a>
          <div class="list-sizes">
              <p class="list-sizes__title">sizes :</p>
              <ul class="list-sizes__content">
                  <li class="list-sizes__item"><a class="list-sizes__prop" href="">s</a></li>
                  <li class="list-sizes__item">-</li>
                  <li class="list-sizes__item"><a class="list-sizes__prop" href="">m</a></li>
                  <li class="list-sizes__item">-</li>
                  <li class="list-sizes__item"><a class="list-sizes__prop" href="">l</a></li>
                  <li class="list-sizes__item">-</li>
                  <li class="list-sizes__item"><a class="list-sizes__prop" href="">xl</a></li>
              </ul>
          </div>
          <div class="list-colors">
              <ul class="list-colors__content">
                  <li class="list-colors__item"><a href="#" class="list-colors__prop list-colors__prop_red"></a></li>
                  <li class="list-colors__item"><a href="#" class="list-colors__prop list-colors__prop_black"></a></li>
                  <li class="list-colors__item"><a href="#" class="list-colors__prop list-colors__prop_blue"></a></li>
                  <li class="list-colors__item"><a href="#" class="list-colors__prop list-colors__prop_green"></a></li>
              </ul>
          </div>
      </div>
      <div class="card-product-hover__footer">
          <div class="list-options">
              <ul class="list-options__content">
                  <li class="list-options__item"><a href="#" class="list-options__icon"><i class="icon icon__share"></i></a></li>
                  <li class="list-options__item"><a href="#" class="list-options__icon"><i class="icon icon__add-to-cart"></i></a></li>
                  <li class="list-options__item"><a href="#" class="list-options__icon"><i class="icon icon__like"></i></a></li>
              </ul>
          </div>
      </div>
  </div>
</div>

