<div class="container">
  <div class="products">
    <div class="filters-mobile-bar" *ngIf="query$ | async as query">
    <p class="title-medium title-medium_primary-color filter-mobile__title">{{ 'filters' | translate }}</p>
    <input type="checkbox" id="checkbox-filter" class="filter-mobile__checkbox" (click)="toggleProductBlock()">
    <label for="checkbox-filter" class="filter-mobile__arrow bounce">
      <div class="filter-mobile__icon"></div>
    </label>
    <div class="filter-mobile__container">
        <app-list-select
        class="filters__filter"
        title="{{ 'categories' | translate }}"
        [options]="categoryOptions"
        [selected]="query.filter.category || []"
        (values)="newCategory($event)">
      </app-list-select>
      
      <app-range-select
        class="filters__filter"
        title="{{ 'price filter' | translate }}"
        [initialLow]="query.filter.minPrice"
        [initialHigh]="query.filter.maxPrice"
        (value)="newPriceRange($event)">
      </app-range-select>

      <app-list-select
        class="filters__filter"
        title="{{ 'sizes' | translate }}"
        [one-of-many]="false"
        [options]="sizesOptions"
        [selected]="query.filter.sizes || []"
        (values)="newSizes($event)">
      </app-list-select>

      <app-list-select
        class="filters__filter"
        title="{{ 'brands' | translate }}"
        [one-of-many]="false"
        [options]="brandsOptions"
        [selected]="query.filter.brands || []"
        (values)="newBrands($event)">
      </app-list-select>
    </div>
  </div>
  <div class="filters" *ngIf="query$ | async as query">
      <app-list-select
        class="filters__filter"
        title="{{ 'categories' | translate }}"
        [options]="categoryOptions"
        [selected]="query.filter.category || []"
        (values)="newCategory($event)">
      </app-list-select>
      
      <app-range-select
        class="filters__filter"
        title="{{ 'price filter' | translate }}"
        [initialLow]="query.filter.minPrice"
        [initialHigh]="query.filter.maxPrice"
        (value)="newPriceRange($event)">
      </app-range-select>

      <app-list-select
        class="filters__filter"
        title="{{ 'sizes' | translate }}"
        [one-of-many]="false"
        [options]="sizesOptions"
        [selected]="query.filter.sizes || []"
        (values)="newSizes($event)">
      </app-list-select>

      <app-list-select
        class="filters__filter"
        title="{{ 'brands' | translate }}"
        [one-of-many]="false"
        [options]="brandsOptions"
        [selected]="query.filter.brands || []"
        (values)="newBrands($event)">
      </app-list-select>
    </div>

    <div class="cards" id="cards">
      <div class="cards__container">
        <app-loading-indicator
          *ngIf="loading$ | async"
          class="cards__loading">
        </app-loading-indicator>

        <span
          *ngIf="(products$ | async)?.length === 0 && !(loading$ | async)"
          class="cards__empty">
          {{ 'no items' | translate }}
        </span>

        <app-card-product
          *ngFor="let product of products$ | async"
          class="cards__element"
          [class.cards__element_hidden]="loading$ | async"
          [id]="product.id"
          [image-url]="product.images[0]"
          [title]="product.name"
          [price]="product.price"
          [sizes]="product.sizes"
          [colors]="product.colors"
          (show-details)="showDetails(product.id)"
          (add-to-cart)="addToCart($event)"
          (add-to-favorite)="addToFavourites($event)">
        </app-card-product>

        <div
          *ngFor="let product of products$ | async"
          class="cards__trick-block">
        </div>
      </div>

      <button
        *ngIf="(products$ | async)?.length < ((productsQuantity$ | async) || 0)"
        class="load-more"
        [class.load-more_hidden]="loading$ | async"
        (click)="loadMore()">
        <span class="load-more__circle"></span>
        <span class="load-more__circle"></span>
        <span class="load-more__circle"></span>
      </button>
    </div>
  </div>
  <app-news-letter></app-news-letter>
</div>
