@import 'mixins';
@import 'fonts';
@import 'icon';
@import 'picture';
@import 'button';
@import '_mobile-menu';

.favourites {
  &__content {
    width: 100%;
    height: auto;

  }

  &__content-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 60px;
    .favourites-title {
      padding: 0;
      @include for-phone-intermediate {
        line-height: 2.1;
      }
      @include for-phone {
        line-height: 2.3;
      }
    }
  }

  &__product-list {
    @include fonts (#34404b, "Open Sans", 18px, 400);
    padding-left: 0;
    background: #fff;

    @include for-tablet-portrait-up {
      font-size: 16px;
      line-height: 1.5;
    }

  }
  &__product-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    line-height: 1.9;
    border-bottom: 2px solid #dadada;
    cursor: pointer;
  }
  &__product-image {
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }
  &__product-title {
    &:hover {
      color: $primary-color;
    }
  }
}
.mat-button {
  font-family: "Open Sans"
}

.mat-dialog-actions {
  justify-content: flex-end;
}