<div class="button-container">
  <div class="favourites__content">
      <h3 class="title-medium">
          Favourites 
        </h3>
      <ul class="favourites__product-list">
        <li class="favourites__product-item" *ngFor="let product of products$ | async">
          {{ product.title }}
          <button class="button button_delete" (click)="deleteFromFavourites(product)" >X</button>
        </li>
        <button class="button button_delete-all" (click)="clearCart()">Delete All</button>
      </ul>
      <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Close</button>
      </div>
  </div>
  </div>