<div class="button-container">
  <div class="favourites__content">
      <div class="favourites__content-head">
    <h3 class="title-medium favourites-title">
      Favourites
    </h3>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">
          <i class="material-icons">
              close
            </i>
      </button>
    </div>
    </div>
    <ul class="favourites__product-list">
      <li
        *ngFor="let product of products$ | async"
        class="favourites__product-item"
        >

        <!-- <img class="favourites__product-image" src="{{ product.imageUrl }}" alt="product's content"> -->
        <picture>
          <source class="favourites__product-image"
          media="(max-width: 767px)"
          sizes="(max-width: 1230px) 100vw, 1230px"
          srcset="{{ product.image['1_1'] }}">
          <source class="favourites__product-image"
          media="(min-width: 768px) and (max-width: 991px)"
          sizes="(max-width: 1757px) 70vw, 1230px"
          srcset="{{ product.image['4_3'] }}">
          <source class="favourites__product-image"
          media="(min-width: 992px) and (max-width: 1199px)"
          sizes="(max-width: 2050px) 60vw, 1230px"
          srcset="{{ product.image['16_9'] }}">
          <img class="favourites__product-image"
          sizes="(max-width: 3075px) 40vw, 1230px"
          srcset="{{ product.image['scale'] }}"
          src="{{ product.image['default'] }}"
          alt="product's content">
        </picture>
        <p (click)="toPdp(product.id)" class="text favourites__product-title">{{ product.title }}</p>
        <a class="card-product-small__add button_favor-to-cart"
         (click)="addToCartFromFav(product)">
          <i class="icon material-icons icon__add-to-cart_right">
            add_shopping_cart
          </i>
        </a>
        <button class="button button_delete button_delete-favor" (click)="deleteFromFavourites(product)">
          <i class="material-icons">close</i>
        </button>
      </li>
      <button class="button button_delete-all" (click)="clearCart()">Delete All</button>
    </ul>
  </div>
</div>
