<div class="button-container">
    <div class="favourites__content">
        <ul class="favourites__product-list">
          <li class="favourites__product-item" *ngFor="let product of products$ | async">
            {{ product.title }} {{ product.size }} {{ product.color }}
            <button class="button button_delete" (click)="deleteFromFavourites(product)" >X</button>
          </li>
          <button (click)="clearCart()">Delete All</button>
        </ul>
    </div>
    <button class="button button_account"></button>
</div>