<div class="button-container">
  <div class="favourites__content">
      <div class="favourites__content-head">
    <h3 class="title-medium favourites-title">
      Favourites
    </h3>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">
          <i class="material-icons">
              close
            </i>
      </button>
    </div>
    </div>
    <ul class="favourites__product-list">
      <li class="favourites__product-item" *ngFor="let product of products$ | async">
          <img class="favourites__product-image" src="{{ product.imageUrl }}" alt="product's content">
        {{ product.title }}
        <button class="button button_delete" (click)="deleteFromFavourites(product)">
          <i class="material-icons">
            close
          </i>
        </button>
      </li>
      <button class="button button_delete-all" (click)="clearCart()">Delete All</button>
    </ul>
  </div>
</div>
