<div class="slider-wrapper">
  <div class="tabs-content">
    <input tabindex="0" id="tab1" type="radio" name="tabs">
    <label tabindex="0" for="tab1" class="tabs-content__item"></label>
    <input tabindex="0" id="tab2" type="radio" name="tabs" checked>
    <label tabindex="0" for="tab2" class="tabs-content__item"></label>
    <input id="tab3" type="radio" name="tabs">
    <label tabindex="0" for="tab3" class="tabs-content__item"></label>
    <div class="tabs-content__articles">
      <div class="slider-container" id="content1">
        <h1 class="slider-container__title title-big title-big_primary-color">
          full winter kit
        </h1>
        <p class="slider-container__desc">
          Half Jacket + Skiny Trousers + Boot leather
        </p>
        <p class="text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
        </p>
        <div class="slider-container__order">
          <p class="slider-container__desc">Price : $120</p>
          <div class="slider-container__button-container button-container">
            <button class="button button_shopping-cart"></button>
            <p class="slider-container__desc slider-container__desc_primary-color">Order Now</p>
          </div>
        </div>
      </div>
      <div class="slider-container" id="content2">
        <h1 class="slider-container__title title-big title-big_primary-color">
          full autumn kit
        </h1>
        <p class="slider-container__desc">
          Half Jacket + Skiny Trousers + Boot leather
        </p>
        <p class="text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
        </p>
        <div class="slider-container__order">
          <p class="slider-container__desc">Price : $100</p>
          <div class="slider-container__button-container button-container">
            <button class="button button_shopping-cart"></button>
            <p class="slider-container__desc slider-container__desc_primary-color">Order Now</p>
          </div>
        </div>
      </div>
      <div class="slider-container" id="content3">
        <h1 class="slider-container__title title-big title-big_primary-color">
          full summer kit
        </h1>
        <p class="slider-container__desc">
          Half Shirt + Skiny Jeans + Boot leather
        </p>
        <p class="text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
        </p>
        <div class="slider-container__order">
          <p class="slider-container__desc">Price : $80</p>
          <div class="slider-container__button-container button-container">
            <button class="button button_shopping-cart"></button>
            <p class="slider-container__desc slider-container__desc_primary-color">Order Now</p>
          </div>
        </div>
      </div>
    </div>

  </div>
