<footer class="footer">
  <div class="footer-container">
    <div class="footer-container__logo">
      <picture routerLink="/" class="footer-container__logo-img picture-container">
        <img src="/assets/images/logo.png" alt="logo" class="picture-container__content">
      </picture>
      <p class="footer-container__copyright">&#169; shopy c 2015 . your copy right here </p>
    </div>
    <div class="footer-navlist">
      <ul class="footer-navlist__column">
        <li class="footer-navlist__item">
          <a class="footer-navlist__link" routerLink="/about">
            {{ 'footer-nav.about' | translate }}
          </a>
        </li>
        <li class="footer-navlist__item"> 
          <a class="footer-navlist__link" routerLink="/contact">
            {{ 'footer-nav.contact' | translate }}
          </a>
        </li>
        <li class="footer-navlist__item">
          <a class="footer-navlist__link" routerLink="/support">
            {{ 'footer-nav.support' | translate }}
          </a>
        </li>
      </ul>
      <ul class="footer-navlist__column">
        <li class="footer-navlist__item">
          <a class="footer-navlist__link" routerLink="/feed">
            {{ 'footer-nav.feed' | translate }}
          </a>
        </li>
        <li class="footer-navlist__item">
          <a class="footer-navlist__link" routerLink="/policy">
            {{ 'footer-nav.policy' | translate }}
          </a>
        </li>
        <li class="footer-navlist__item">
          <a class="footer-navlist__link" routerLink="/privacy">
            {{ 'footer-nav.privacy' | translate }}
          </a>
        </li>
      </ul>
      <ul class="footer-navlist__column">
        <li class="footer-navlist__item">
          <a class="footer-navlist__link" routerLink="/join">
            {{ 'footer-nav.join' | translate }}
          </a>
        </li>
        <li class="footer-navlist__item"> 
          <a class="footer-navlist__link" routerLink="/support-live">
            {{ 'footer-nav.support-live' | translate }}
          </a></li>
      </ul>
    </div>
    <div class="footer-payment">
      <h2 class="footer-payment__title">{{ 'footer-payment.title' | translate }}</h2>
      <div class="footer-payment__icon">
        <!-- <a target="_blank" href={{footerLinks.americanExpURL}}><i class="fab fa-cc-amex"></i></a>
        <a target="_blank" href={{footerLinks.payPalURL}}><i class="fab fa-cc-paypal"></i></a>
        <a target="_blank" href={{footerLinks.visaURL}}><i class="fab fa-cc-visa"></i></a>
        <a target="_blank" href={{footerLinks.masterCardURL}}><i class="fab fa-cc-mastercard"></i></a>
        <a target="_blank" href={{footerLinks.amazonURL}}><i class="fab fa-cc-amazon-pay"></i></a> -->
      </div>
    </div>
  </div>
</footer>
