@import 'mixins';
@import 'fonts';
@import 'icon';
@import 'picture';
@import 'button';

:host {
  background-color: white;
}

.footer {
  // FIXME: refactor to plain structure
  .footer-container {
    @include container;
    @include flex;
    padding: 90px 0;
    @include for-tablet-portrait-up {
      flex-wrap: wrap;
      padding: 30px 0;
    }
    @include for-phone-intermediate {
      flex-direction: column;
    }

    &__logo {
      display: flex;
      flex-direction: column;
      @include for-phone-intermediate {
        @include flex ($direction: column);
      }
      .footer-logo {
        width: 118px;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
  
        .logo-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
        }
  
        .logo-img {
          width: 33px;
          height: 17px;
          filter: invert(100%) sepia(0%);
          border-radius: 50% 50% 0 0 / 100% 100% 0 0;
          background: #01a1ff;
        }
  
        .logo-text {
          margin: 0;
          padding: 0;
          opacity: 0.8;
          @include fonts (#46505a, "Open Sans", 11px, 400);
          line-height: 1;
          letter-spacing: 2px;
  
          &_large {
            margin: 0;
            padding: 0;
            opacity: 0.8;
            @include fonts (#46505a, "Titillium Web", 34px, 700);
            text-transform: uppercase;
            line-height: 1;
            letter-spacing: 1.2px;
          }
        }
      }
    }

    &__copyright {
      @include fonts (#28313b, "Open Sans", 13px, 400);
      line-height: 30px;
    }

    .footer-navlist {
      @include flex(baseline);
      @include for-tablet-portrait-up {
        width: 100%;
      }
      @include for-phone {
        display: none;
      }

      &__column {
        @include flex(baseline, column);
        padding-right: 60px;
        @include for-tablet-intermediate {
          padding-right: 30px;
        }
        @include for-tablet-portrait-up {
          padding-right: 0;
        }
        &:last-child {
          padding-right:0;
        }
      }

      &__item {
        text-align: left;

      }

      &__link {
        @include fonts (#28313b, "Open Sans", 13px, 400);
        line-height: 30px;
        text-decoration: none;

        &:hover {
          color: $primary-color;
        }

        &:hover .footer-navlist__item {
          color: $primary-color;
        }

      }
    }

    .footer-payment {
      @include flex(baseline, column);
      @include for-phone-intermediate {
        @include flex ($direction: column);
      }

      &__title {
        margin: 0;
        padding-bottom: 20px;
        @include fonts (#ff5912, "Open Sans", 16px, 600);
        line-height: 30px;
      }

      &__icon {
        background-image: url('/assets/images/Payment_Images.png');
        width: 170px;
        height: 20px;
      }
    }
  }
}
