<footer class="footer">
  <div class="footer-container">
    <div class="footer-container__logo">
        <a routerLink="/" class="footer-logo">
          <div class="logo-wrapper">
            <p class="logo-text_large">sh</p>
            <img src="/assets/images/logo.svg" alt="logo" class="logo-img">
            <p class="logo-text_large">py</p>
          </div>
          <p class="logo-text">shope any where</p>
        </a>
      <p class="footer-container__copyright">&#169; shopy c 2015 . your copy right here </p>
    </div>
    <div class="footer-navlist">
      <ul class="footer-navlist__column">
        <li class="footer-navlist__item">
          <a class="footer-navlist__link" routerLink="/about">
            {{ 'footer-nav.about' | translate }}
          </a>
        </li>
        <li class="footer-navlist__item"> 
          <a class="footer-navlist__link" routerLink="/contact">
            {{ 'footer-nav.contact' | translate }}
          </a>
        </li>
        <li class="footer-navlist__item">
          <a class="footer-navlist__link" routerLink="/support">
            {{ 'footer-nav.support' | translate }}
          </a>
        </li>
      </ul>
      <ul class="footer-navlist__column">
        <li class="footer-navlist__item">
          <a class="footer-navlist__link" routerLink="/feed">
            {{ 'footer-nav.feed' | translate }}
          </a>
        </li>
        <li class="footer-navlist__item">
          <a class="footer-navlist__link" routerLink="/policy">
            {{ 'footer-nav.policy' | translate }}
          </a>
        </li>
        <li class="footer-navlist__item">
          <a class="footer-navlist__link" routerLink="/privacy">
            {{ 'footer-nav.privacy' | translate }}
          </a>
        </li>
      </ul>
      <ul class="footer-navlist__column">
        <li class="footer-navlist__item">
          <a class="footer-navlist__link" routerLink="/join">
            {{ 'footer-nav.join' | translate }}
          </a>
        </li>
        <li class="footer-navlist__item"> 
          <a class="footer-navlist__link" routerLink="/support-live">
            {{ 'footer-nav.support-live' | translate }}
          </a></li>
      </ul>
    </div>
    <div class="footer-payment">
      <h2 class="footer-payment__title">{{ 'footer-payment.title' | translate }}</h2>
      <div class="footer-payment__icon">
      </div>
    </div>
  </div>
</footer>
