@import 'mixins';
@import 'fonts';
@import 'icon';
@import 'picture';
@import 'button';

:host {
  background-color: white;
}

.footer {
  // FIXME: refactor to plain structure
  .footer-container {
    @include container;
    @include flex;
    padding: 90px 0;
    @include for-tablet-portrait-up {
      flex-wrap: wrap;
      padding: 30px 0;
    }
    @include for-phone-intermediate {
      flex-direction: column;
    }

    &__logo {
      @include for-phone-intermediate {
        @include flex ($direction: column);
      }
    }

    &__logo-img {
      width: 117px;
    }

    &__copyright {
      @include fonts (#28313b, Poppins, 13px, 400);
      line-height: 30px;
    }

    .footer-navlist {
      @include flex(baseline);
      @include for-tablet-portrait-up {
        width: 100%;
      }
      @include for-phone {
        display: none;
      }

      &__column {
        @include flex(baseline, column);
        padding-right: 60px;
        @include for-tablet-intermediate {
          padding-right: 30px;
        }
        @include for-tablet-portrait-up {
          padding-right: 0;
        }
        &:last-child {
          padding-right:0;
        }
      }

      &__item {
        text-align: left;

      }

      &__link {
        @include fonts (#28313b, Poppins, 13px, 400);
        line-height: 30px;
        text-decoration: none;

        &:hover {
          color: $primary-color;
        }

        &:hover .footer-navlist__item {
          color: $primary-color;
        }

      }
    }

    .footer-payment {
      @include flex(baseline, column);
      @include for-phone-intermediate {
        @include flex ($direction: column);
      }

      &__title {
        margin: 0;
        padding-bottom: 20px;
        @include fonts (#ff5912, Poppins, 16px, 600);
        line-height: 30px;
      }

      &__icon {
        background-image: url('/assets/images/Payment_Images.png');
        width: 170px;
        height: 20px;
      }
    }
  }
}
