<ng-container *ngIf="product$ | async as product">
  <app-product-show
    [id]="product.id"
    [title]="product.name"
    [sizes]="product.sizes"
    [price]="product.price"
    [short-description]="product.category + ' | ' + product.brand"
    [description]="product.description"
    [images]="product.images"
    (add-to-cart)="addToCart($event)"
    (add-to-favorite)="addToFavourites($event)">
  </app-product-show>
  <app-related-products
    [id]="product.id">
  </app-related-products>
</ng-container>
<app-news-letter></app-news-letter>
