@import './colors';
@import 'mixins';
@import 'variables';
@import 'fonts';
@import 'button';

.related-products-wrapper {
  @include container;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 80px 0;
  @include for-tablet-intermediate {
    justify-content: center;
  }

  &_loading {
    height: 615px;
  }

  &__loading-indicator {
    margin: auto;
  }
}
