<div
  class="slider-wrapper"
  [style.backgroundImage]="'url(' + ((currentProduct$ | async)?.sliderImage || '') + ')'">

  <div class="tabs-content">
    <div
      *ngFor="let product of products$ | async; index as i"
      class="tabs-content__item"
      [class.tabs-content__item_active]="(current$ | async) === i"
      (click)="changeSlide(i)">
    </div>

    <div class="tabs-content__articles">

      <div class="slider-container">
        <h1 class="slider-container__title title-big title-big_primary-color">
          {{(currentProduct$ | async)?.name}}
        </h1>
        <p class="slider-container__desc">
          {{(currentProduct$ | async)?.category}} | {{(currentProduct$ | async)?.brand}}
        </p>
        <p class="text">
          {{(currentProduct$ | async)?.description}}
        </p>
        <div class="slider-container__order">
          <p class="slider-container__desc">Price : ${{(currentProduct$ | async)?.price}}</p>
          <div class="slider-container__button-container button-container">
            <button class="button button_shopping-cart"></button>
            <p class="slider-container__desc slider-container__desc_primary-color">Order Now</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
