<div
  class="slider-wrapper"
  [style.backgroundImage]="'url(' + ((currentProduct$ | async)?.sliderImage || '') + ')'">

  <div class="tabs-content">
    <div
      *ngFor="let product of products$ | async; index as i"
      class="tabs-content__item"
      [class.tabs-content__item_active]="(current$ | async) === i"
      (click)="changeSlide(i)">
    </div>

    <div class="tabs-content__articles" *ngIf="currentProduct$ | async as currentProduct">

      <div class="slider-container">
        <h1 class="slider-container__title title-big title-big_primary-color">
          {{currentProduct.name}}
        </h1>
        <p class="slider-container__desc">
          {{currentProduct.category}} | {{currentProduct.brand}}
        </p>
        <p class="text">
          {{currentProduct.description}}
        </p>
        <div class="slider-container__order">
          <p class="slider-container__desc">{{ 'price' | translate }} : ${{currentProduct.price}}</p>
          <button
            class="slider-container__button-container button-container"
            (click)="orderProduct(currentProduct.id, currentProduct.name, currentProduct.price)">

            <span class="button button_shopping-cart"></span>
            <p class="slider-container__desc slider-container__desc_primary-color">{{ 'button.orderNow' | translate }}</p>
          </button>
        </div>
      </div>
       
    </div>
  </div>
</div>
