<section class="news-letter-container">
  <div class="news-letter">
    <div class="news-letter__description">
      <h3 class="news-letter__title">{{ 'news letter.title' | translate }}</h3>
      <p class="news-letter__text">{{ 'news letter.description' | translate }}</p>
    </div>
    <div>
      <form class="news-letter__form" action="" method="POST" (ngSubmit)="onSubmit($event)" 
      [formGroup]="newsLetterForm">
        <i class="icon material-icons primary-color news-letter__icon">
          mail_outline
        </i>
        <input type="email" name="email" class="news-letter__input" required
          placeholder="{{ 'input.email placesholder' | translate }}" autocomplete="on"
          formControlName="email" />
        <button type="submit"
          class="news-letter__form-element news-letter__form-element_non-shrinkable button button_common"
          [class.spinner]="loading" [disabled]="!newsLetterForm.valid">{{ 'button.join us' | translate }}</button>
      </form>
    </div>
  </div>
</section>
