<div class="small-card">
  <img class="small-card__image" src="assets/images/small-card-jacket.png" alt="Image of jacket" />
  <div class="small-card__separator"></div>
  <div class="small-card__description">
    <h4 class="small-card__name">
      Reebok Track Jacket
    </h4>
    <div class="small-card__info">
      <div class="small-card__rate">
        <img src="assets/images/small-card-rate.png" alt="Image of product rate" />
      </div>
      <p class="small-card__price">
        $100
      </p>
    </div>
  </div>
</div>