<div class="button-container">
    <div class="cart__content">
        <ul class="cart__product-list">
          <li *ngFor="let product of products$ | async">
            {{ product.title }} {{ product.size }} {{ product.color }}
            <button (click)="deleteFromCart(product)" >Delete</button>
          </li>
          <button (click)="clearCart()" >Delete All</button>
        </ul>
    </div>
    <p class="button_shopping-cart__count">{{ (productsNumber$ | async) || 0 }}</p>
    <button class="button button_shopping-cart"></button>
</div>