<div class="button-container">
  <div class="cart__content">
    <h3 class="title-medium">
      Product  <span class="title-medium title-medium_primary-color"> Cart </span> 
    </h3>
    <ul class="cart__product-list">
      <li class="cart__product-item cart__product-head">
        <span class="cart__product-item_bold cart__product-title">Title</span>
        <span class="cart__product-item_bold cart__product-size">Size</span>
        <span class="cart__product-item_bold cart__product-color">Color</span>
        <span class="cart__product-item_bold cart__product-price">Price</span>
        <span class="cart__product-item_bold cart__product-quantity">Quantity</span>
      </li>
      <li class="cart__product-item" *ngFor="let i = index; let product of products$ | async">
          <span class="cart__product-title">{{ product.title }} </span>
          <span class="cart__product-size">{{ product.size }} </span>
          <span class="cart__product-color">{{ product.color }}</span>
          <span class="cart__product-price">{{ product.price }}</span>
          <div class="product-details__quantity cart__product-quantity">
              <form class="form-selection">
                <span
                  class="form-selection__max"
                  (click)="increaseQuantity(i)">
                  +
                </span>
                <span class="form-selection__number cart__product-quantity_number">{{product.quantity}}</span>
                <span
                  class="form-selection__min"
                  (click)="decreaseQuantity(i)">
                  -
                </span>
              </form>
            </div>
        <button class="button button_delete" (click)="deleteFromCart(product)">X</button>
      </li>
      <li class="cart__product-item cart__product-head">
          <span class="cart__product-item_bold cart__product-title">Total cost {{totalCost$ | async}}</span>
      </li>
      <li class="cart__product-item_mobile" *ngFor="let product of products$ | async">
        <button class="button button_delete" (click)="deleteFromCart(product)">X</button>
        <div class="">
          <span class="cart__product-item_bold cart__product-title">Title</span>
          <span class="cart__product-title">{{ product.title }} </span>
        </div>
        <div class="">
          <span class="cart__product-item_bold cart__product-size">Size</span>
          <span class="cart__product-size">{{ product.size }} </span>
        </div>
        <div class="">
          <span class="cart__product-item_bold cart__product-color">Color</span>
          <span class="cart__product-color">{{ product.color }}</span>
        </div>
        <div class="">
          <span class="cart__product-item_bold cart__product-color">Price</span>
          <span class="cart__product-color">{{ product.price }}</span>
        </div>
        <div class="">
          <span class="cart__product-item_bold cart__product-color">Quantity</span>
          <div class="product-details__quantity cart__product-quantity">
            <form class="form-selection">
              <span class="form-selection__max" (click)="increaseQuantity(i)">
                +
              </span>
              <span class="form-selection__number cart__product-quantity_number">{{product.quantity}}</span>
              <span class="form-selection__min" (click)="decreaseQuantity(i)">
                -
              </span>
            </form>
          </div>
        </div>
      </li>
      <li class="cart__product-item_mobile cart__product-item_mobile-head">
          <span class="cart__product-item_bold cart__product-title">Total cost {{totalCost$ | async}}</span>
      </li>
      <button class="button button_delete-all" (click)="clearCart()">Delete All</button>
    </ul>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Close</button>
    </div>
  </div>
</div>
