@import 'mixins';
@import 'fonts';
@import 'icon';
@import 'picture';
@import 'button';
@import '_mobile-menu';


.cart {
  &__content {
    width: 100%;
    height: auto;
  }

  &__content-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 64px;
    .cart-title {
      padding: 0;
      @include for-phone-intermediate {
        line-height: 2;
      }
      @include for-phone {
        line-height: 2.2;
      }
      @include for-phone-smaller {
        line-height: 1.5;
      }
    }
  }

  &__product-list {
    @include fonts (#34404b, "Open Sans", 18px, 400);
    padding-left: 0;
    line-height: 2;
    background: #fff;

    @include for-tablet-portrait-up {
      font-size: 16px;
      line-height: 1.5;
    }


  }

  &__product-item {
    display: flex;
    align-items: center;
    line-height: 3.5;
    border-bottom: 2px solid #dadada;

    @include for-tablet-portrait-up {
      display: none;
    }

    @include for-500px {
      flex-direction: column;
      align-items: flex-start;
    }

    &_bold {
      font-weight: bold;
    }
  }
  
  &__product-image {
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }

  &__product-item_mobile {
    display: none;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 2px solid #dadada;
    padding: 10px 0;

    @include for-tablet-portrait-up {
      display: flex;
    }
    .cart__product-title {
      display: inline;
    }
    .cart__product-image {
      margin-right: 0;
      width: 60px;
      height: 60px;
    }
  }

  &__product-item_mobile-head {
    margin-top: 15px;
  }

  &__product-head {
    justify-content: flex-start;

    @include for-tablet-portrait-up {
      display: none;
    }
  }

  &__product-title {
    display: inline-flex;
    align-items: center;
    max-width: 240px;
    width: 100%;
    line-height: 2;

    @include for-tablet-portrait-up {
      padding-right: 15px;
    }
  }

  &__product-size {
    max-width: 100px;
    width: 100%;
    text-align: center;

    @include for-tablet-portrait-up {
      width: auto;
      padding-right: 15px;
    }
  }

  &__product-color {
    max-width: 120px;
    width: 100%;

    @include for-tablet-portrait-up {
      width: auto;
      padding-right: 15px;
    }
  }

  &__product-price {
    max-width: 120px;
    width: 100%;

    @include for-500px {
      width: auto;
      padding-right: 15px;
    }
  }

  &__product-quantity {
    max-width: 120px;
    width: 100%;

    @include for-tablet-portrait-up {
      width: auto;
      padding-right: 15px;
      display: inline-block;
    }

    &_number {
      display: inline-block;
      width: 60px;
      text-align: center;
    }
  }
}

.cart__product-item_last-child {
  border-bottom: unset;
}

.mat-button {
  font-family: "Open Sans"
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.form-selection {
  display: flex;
  align-items: center;

  &__max {
    display: inline-block;
    cursor: pointer;
  }

  &__number {
    display: inline-block;
  }

  &__min {
    display: inline-block;
    cursor: pointer;
  }
}

