<div class="card-product">
  <div class="card-product__header">
    <picture>
      <source class="card-product__img" media="(max-width: 767px)" sizes="(max-width: 1230px) 100vw, 1230px"
        srcset="{{ image['1_1'] }}">
      <source class="card-product__img" media="(min-width: 768px) and (max-width: 991px)"
        sizes="(max-width: 1757px) 70vw, 1230px" srcset="{{ image['4_3'] }}">
      <source class="card-product__img" media="(min-width: 992px) and (max-width: 1199px)"
        sizes="(max-width: 2050px) 60vw, 1230px" srcset="{{ image['16_9'] }}">
      <img class="card-product__img" sizes="(max-width: 3075px) 40vw, 1230px" srcset="{{ image['scale'] }}"
        src="{{ image['default'] }}" alt="">
    </picture>
  </div>
  <div class="card-product__body">
    <div class="card-product__title">{{title}}</div>
    <div class="card-product__price">{{price}}{{currencySign}}</div>
  </div>
  <div class="card-product-hover">
    <div class="card-product-hover__header">
      <picture>
        <source class="card-product-hover__img" media="(max-width: 767px)" sizes="(max-width: 1230px) 100vw, 1230px"
          srcset="{{ image['1_1'] }}">
        <source class="card-product-hover__img" media="(min-width: 768px) and (max-width: 991px)"
          sizes="(max-width: 1757px) 70vw, 1230px" srcset="{{ image['4_3'] }}">
        <source class="card-product-hover__img" media="(min-width: 992px) and (max-width: 1199px)"
          sizes="(max-width: 2050px) 60vw, 1230px" srcset="{{ image['16_9'] }}">
        <img class="card-product-hover__img" sizes="(max-width: 3075px) 40vw, 1230px" srcset="{{ image['scale'] }}"
          src="{{ image['default'] }}" alt="">
      </picture>
    </div>
    <div class="card-product-hover__body">
      <a class="card-product-hover__title" (click)="action(showDetails)">
        {{title}}
      </a>
      <div class="list-sizes">
        <p class="list-sizes__title">sizes </p>
        <p class="list-sizes__title">:</p>
        <ng-container *ngFor="let size of sizes; last as isLast">
          <span class="list-sizes__item list-sizes__item_first-child">
            <span class="list-sizes__prop" [class.list-sizes__prop_active]="(size$ | async) === size"
              (click)="changeSize(size)">
              {{size}}
            </span>
          </span>
          <span class="list-sizes__item" *ngIf="!isLast">-</span>
        </ng-container>
      </div>
      <div class="list-colors">
        <div class="list-colors__content">
          <ng-container *ngFor="let color of colors">
            <span class="list-colors__item">
              <!-- FIXME: [style.background-color]="color" is awful -->
              <span class="list-colors__prop" [style.background-color]="color"
                [class.list-colors__prop_active]="(color$ | async) === color" (click)="changeColor(color)">
              </span>
            </span>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="card-product-hover__footer">
      <div class="list-options">
        <ul class="list-options__content">
          <li class="list-options__item">
            <a class="list-options__icon" (click)="action(showDetails)">
              <i class="icon material-icons">
                language
              </i>
            </a>
          </li>
          <li class="list-options__item">
            <a class="list-options__icon" (click)="action(addToCart)">
              <i class="icon material-icons">
                add_shopping_cart
              </i>
            </a>
          </li>
          <li class="list-options__item">
            <app-favourite-button class="list-options__icon" (click)="action(addToFavorite)">
            </app-favourite-button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
