@import '../../styles/mixins';
@import '../../styles/fonts';
@import '../../styles/colors';

.best-sales-container {
  @include container;
}

.best-sales {

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    @include fonts($primary-color, "Open Sans", 36px, 700);
    margin: 0;
    margin-bottom: 30px;
    text-transform: uppercase;

    &_second-color {
      color: $secondary-color; 
    }
  }

  &__subtitle {
    @include fonts(#495662, "Open Sans", 16px, 400);
    margin: 0;
  }

  &__items {
    display: flex;
    flex-direction: row;
  }
}