<div mat-dialog-actions class="button-container button-container_end">
  <button mat-button (click)="onNoClick()">
    <i class="material-icons">
      close
    </i>
  </button>
</div>
<div class="account-form">
  <mat-tab-group class="tab-group" animationDuration="0ms">
    <mat-tab class="tab" label="{{ 'log in.title' | translate }}">
        <div id="login">
          <form action="/" method="post" class="login-form" (ngSubmit)="onSubmitLoginForm($event)"
            [formGroup]="loginForm">
            <div class="field-wrap">
              <label class="account-form__label">{{ 'log in.email address' | translate }}
                <span class="req">*</span>
              </label>
              <input class="account-form__input" type="email" name="email" required autocomplete="email"
                formControlName="email" 
                [ngClass]="{ 'is-invalid': submitted && loginFormControls.email.errors }"/>
                <div *ngIf="submitted && loginFormControls.email.errors" class="invalid-feedback">
                    <div *ngIf="loginFormControls.email.errors">
                      <div>{{ 'log in.error email' | translate }}</div>
                      <div>{{ loginErrorMessage$ | async }}</div>
                    </div>
                </div>
            </div>
            <div class="field-wrap">
              <label class="account-form__label"> {{ 'log in.password' | translate }}
                <span class="req">*</span>
              </label>
              <show-hide-password size="lg" btnStyle="primary" [btnOutline]="false">
                <input class="account-form__input" type="password" name="password" required formControlName="password">
              </show-hide-password>
              <div *ngIf="submitted && loginFormControls.password.errors" class="invalid-feedback">
                  <div *ngIf="loginFormControls.password.errors">
                      {{ 'log in.error password' | translate }}
                    </div>
                  <div *ngIf="loginFormControls.password.errors.minlength">
                      {{ 'log in.error password length' | translate }}
                      </div>
              </div>
            </div>
            <p class="forgot"><a class="forgot__link" href="#">{{ 'log in.forgot password' | translate }}?</a></p>
            <button type="submit" class="button button_form-account"
              [class.spinner]="loading">
              {{ 'log in.submit' | translate }}</button>
          </form>
        </div>
      </mat-tab>
    <mat-tab label="{{ 'sign up.title' | translate }}" class="tab">
      <div id="signup">
        <form action="/" method="post" class="signup-form" (ngSubmit)="onSubmitSignupForm($event)" 
        [formGroup]="signupForm">
          <div class="field-wrap">
            <label class="account-form__label">
                {{ 'sign up.first name' | translate }}<span class="req">*</span>
            </label>
            <input class="account-form__input" type="text" name="text" required
            formControlName="firstName"
            [ngClass]="{ 'is-invalid': submitted && signupFormControls.firstName.errors }"/>
            <div *ngIf="submitted && signupFormControls.firstName.errors" class="invalid-feedback">
                <div *ngIf="signupFormControls.firstName.errors">
                    {{ 'sign up.error first name' | translate }}
                  </div>
            </div>
          </div>
          <div class="field-wrap">
            <label class="account-form__label">
                {{ 'sign up.last name' | translate }}<span class="req">*</span>
            </label>
            <input class="account-form__input" type="text" name="text" required
            formControlName="lastName"
            [ngClass]="{ 'is-invalid': submitted && signupFormControls.lastName.errors }"/>
            <div *ngIf="submitted && signupFormControls.lastName.errors" class="invalid-feedback">
                <div *ngIf="signupFormControls.lastName.errors">
                    {{ 'sign up.error last name' | translate }}
                  </div>
            </div>
          </div>
          <div class="field-wrap">
            <label class="account-form__label">
                {{ 'sign up.email address' | translate }}<span class="req">*</span>
            </label>
            <input class="account-form__input" type="email" name="email" required
            formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && signupFormControls.email.errors }"/>
            <div *ngIf="submitted && signupFormControls.email.errors" class="invalid-feedback">
                <div *ngIf="signupFormControls.email.errors">
                    {{ 'sign up.error email' | translate }}
                  </div>
            </div>
          </div>
          <div class="field-wrap">
            <label class="account-form__label">
                {{ 'sign up.password' | translate }}<span class="req">*</span>
            </label>
            <show-hide-password size="lg" btnStyle="primary" [btnOutline]="false">
              <input class="account-form__input" type="password" name="password" required
              formControlName="password"
              [ngClass]="{ 'is-invalid': submitted && signupFormControls.password.errors }"/>
            </show-hide-password>
            <div *ngIf="submitted && signupFormControls.password.errors" class="invalid-feedback">
                <div *ngIf="signupFormControls.password.errors">
                  {{ 'sign up.error password' | translate }}
                  </div>
              <div *ngIf="signupFormControls.password.errors.minlength">
                  {{ 'sign up.error password length' | translate }}
                </div>
          </div>
          </div>
          <div class="field-wrap">
            <label class="account-form__label">
                {{ 'sign up.repeat password' | translate }}<span class="req">*</span>
            </label>
            <show-hide-password size="lg" btnStyle="primary" [btnOutline]="false">
              <input class="account-form__input" type="password" name="password" required
            formControlName="confirmPassword"
            [ngClass]="{ 'is-invalid': submitted && signupFormControls.confirmPassword.errors }"/>
            </show-hide-password>
            <div *ngIf="submitted && signupFormControls.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="signupFormControls.confirmPassword.errors.mustMatch">
                  {{ 'sign up.error password match' | translate }}
                </div>
            </div>
          </div>
          <button type="submit" class="button button_form-account" 
          [class.spinner]="loading">{{ 'sign up.submit' | translate }}</button>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
