<span class="range-select__title">{{title}}</span>

<ng5-slider
  [options]="options"
  [(value)]="low"
  [(highValue)]="high">
</ng5-slider>

<div class="range-select__boundaries">
  <span class="range-select__boundaries-label">From</span>

  <input
    #lowInput
    class="range-select__input"
    type="number"
    [ngModel]="low"
    (ngModelChange)="newLow($event, lowInput)">

  <span class="range-select__boundaries-label">To</span>

  <input
    #highInput
    class="range-select__input"
    type="number"
    [ngModel]="high"
    (ngModelChange)="newHigh($event, highInput)">
</div>
