<section class="advertisement">
  <div class="advertisement__left">
    <app-sale class="advertisement__element advertisement__element_non-shrinking" percent="50"></app-sale>

    <div>
      <div class="advertisement__title">FULL WINTER KIT</div>
      <div class="advertisement__description">Half Jacket + Skiny Trousers + Boot leather</div>
    </div>

    <div class="advertisement__dash"></div>

    <div class="advertisement__element advertisement__element_non-shrinking">
      <img src="/assets/images/add_to_cart_icon.png" alt="add to cart icon">
      <span class="advertisement__price">120</span>
    </div>
  </div>
  <div class="advertisement__right">
    <div class="advertisement__placeholder-wrapper">
      <div class="advertisement__placeholder"></div>
      <div class="advertisement__size">470 x 100</div>
    </div>
  </div>
</section>
