
<div class="card-product-small">
    <div class="card-product-small__image">
        <img src="/assets/images/Product_Img-4.png" alt="jacket">
    </div>
    <div class="card-product-small__description">
        <a href="#" class="card-product-small__title">Reebok Track Jacket</a>
        <div class="card-product-small__stars-price">
            <img src="/assets/images/Rate.png" alt="stars">
            <div class="card-product-small__price">$100</div>
            <a href="#" class="card-product-small__add">
              <i class="icon icon__add-to-cart icon__add-to-cart_right">
              </i>
              add to cart
            </a>
        </div>
    </div>
</div>