<div class="card-product-small">
  <div class="card-product-small__image">
    <picture>
      <source class="card-product-small__img"
      media="(max-width: 767px)"
      sizes="(max-width: 1230px) 100vw, 1230px"
      srcset="{{ image['1_1'] }}">
      <source class="card-product-small__img"
      media="(min-width: 768px) and (max-width: 991px)"
      sizes="(max-width: 1757px) 70vw, 1230px"
      srcset="{{ image['4_3'] }}">
      <source class="card-product-small__img"
      media="(min-width: 992px) and (max-width: 1199px)"
      sizes="(max-width: 2050px) 60vw, 1230px"
      srcset="{{ image['16_9'] }}">
      <img class="card-product-small__img"
      sizes="(max-width: 3075px) 40vw, 1230px"
      srcset="{{ image['scale'] }}"
      src="{{ image['default'] }}"
      alt="">
    </picture>
  </div>
  <div class="card-product-small__description">
    <a
      class="card-product-small__title"
      (click)="showDetailsCb()">
      {{title}}
    </a>
    <div class="card-product-small__stars-price">
      <img src="/assets/images/Rate.png" alt="stars">
      <div class="card-product-small__price">{{price}}{{currencySign || '$'}}</div>
      <a class="card-product-small__add" (click)="addToCartCb()">
        <i class="icon material-icons icon__add-to-cart_right">
          add_shopping_cart
        </i>
        <span>{{ 'button.add to cart' | translate }}</span>
      </a>
    </div>
  </div>
</div>
