<div class="best-sales-wrapper section-wrapper">
  <h2 class="title-medium">
    best <span class="title-medium title-medium_primary-color">sales</span>
  </h2>
  <p class="text">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry
  </p>
  <div class="cards-container">
    <app-card-product-small
      id="0"
      image-url="/assets/images/Product_Img-4.png"
      title="Reebok Track Jacket"
      price="100">
    </app-card-product-small>
    <app-card-product-small
      id="1"
      image-url="/assets/images/Product_Img-4.png"
      title="Reebok Track Jacket"
      price="101">
    </app-card-product-small>
    <app-card-product-small
      id="2"
      image-url="/assets/images/Product_Img-4.png"
      title="Reebok Track Jacket"
      price="102">
    </app-card-product-small>
  </div>
</div>
