@import '_colors';
@import 'fonts';

$gray-light: #a0b3b0;

:host {
  display: block;
  text-align: left;
  margin-bottom: 20px;

  &[readonly='true'] {
    opacity: 0.5;
  }
}

.label {
  @include fonts (#34404b, "Open Sans", 12px, 400);
  text-transform: capitalize;
  pointer-events: none;
}

.required {
  margin: 2px;
  color: $primary-color;
}

.input {
  @include fonts (#34404b, "Open Sans", 14px, 400);
  display: block;
  width: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid $gray-light;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease;
  outline: 0;

  &:focus {
    border-color: $primary-color;
  }

  &::placeholder {
    @include fonts (#84909b, "Open Sans", 12px, 300);
  }
}

.invalid {
  color: #de1e1e;
  font-style: italic;
}

.error {
  @include fonts (#f44336, "Open Sans", 12px, 400);
  font-style: italic;
}
