// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat-palette($mat-indigo);
$frontend-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$frontend-theme: mat-light-theme($frontend-primary, $frontend-accent, $frontend-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($frontend-theme);

/* You can add global styles to this file, and also import other style files */
@import '_colors';
.cdk-overlay-pane {
  max-height: 600px;

  @media (max-width: 415px) {
    max-height: 530px;
  }
}

@import "~angular-notifier/styles";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans";
}

// ng5slider styles overriding in range-select component
app-range-select .ng5-slider {
  .ng5-slider-bar {
    background-color: $background-default-color;

    &.ng5-slider-selection {
      background-color: $secondary-color;
    }
  }

  .ng5-slider-pointer {
    background-color: $secondary-color;
    width: 11px;
    height: 11px;
    top: -3.5px;

    &::after {
      display: none;
    }
  }

  .ng5-slider-bubble {
    color: $secondary-color;

    &.ng5-slider-floor, &.ng5-slider-ceil {
      display: none;
    }
  }
}

// material tab
.mat-tab-labels {
  justify-content: space-evenly;
}
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #ff5912;
}
.mat-tab-header {
  border-bottom: unset;
}
.mat-tab-label .mat-tab-label-content {
  font-family:  "Open Sans";
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  @media (max-width: 500px) {
    font-size: 16px;
  }
}
.mat-tab-body-wrapper {
  padding-top: 20px;
}

@media (max-width: 500px) {
  .mat-dialog-container {
    padding: 0 14px !important;
  }
}

.btn-primary {
  position: absolute;
  top: 26px;
  right: 1px;
  border: none;
  outline: none;
}
// material accordion
.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: unset;
}
.mat-expansion-panel-header {
  padding: 0 2px 0 0 !important;
}
.mat-expansion-panel-header {
  font-family: "Open Sans";
}
