<div class="container_not-fixed">
  <div class="section-wrapper section-wrapper_first">
    <h2 class="title-medium"> {{ 'about.about' | translate }} <span class="title-medium title-medium_primary-color"> {{ 'about.us' | translate }} </span></h2>
    <p class="text"> {{ 'about.description' | translate }} </p>
  </div>
  <div class="section-wrapper">
    <h2 class="title-medium"> {{ 'team.our' | translate }} <span class="title-medium title-medium_primary-color">{{ 'team.team' | translate }}</span></h2>
    <div class="teams-wrapper">
      <div class="teams">
        <a href="https://griddynamics.slack.com/messages/UMWV351B3" class="teams__item">
         <div class="teams__img-container">
         <picture class="picture-container">
          <img class="picture-container__content teams__img" src="/assets/images/dmitry.png" alt="dmitry">
         </picture>
         </div>
         <div class="teams__name">
           {{ 'team.Dmitrii' | translate }}
           {{ 'team.Matvienko' | translate }}
         </div>
         <div class="teams__position">
           {{ 'team.intern' | translate }}
         </div>
        </a>
        <a href="https://griddynamics.slack.com/messages/UEN1B0074" class="teams__item">
          <div class="teams__img-container">
            <picture class="picture-container">
              <img class="picture-container__content teams__img" src="/assets/images/daniil.png" alt="danil">
             </picture>
          </div>
          <div class="teams__name">
            {{ 'team.Daniil' | translate }}
            {{ 'team.Vadeneev' | translate }}
          </div>
          <div class="teams__position">
            {{ 'team.engineer' | translate }}
          </div>
         </a>
       </div>
       <div class="teams">
         <a href="https://griddynamics.slack.com/messages/UN37E4Y8K" class="teams__item">
          <div class="teams__img-container">
          <picture class="picture-container">
           <img class="picture-container__content teams__img" src="/assets/images/timur.png" alt="dmitry">
          </picture>
          </div>
          <div class="teams__name">
            {{ 'team.Timur' | translate }}
            {{ 'team.Katimullin' | translate }}
          </div>
          <div class="teams__position">
            {{ 'team.intern' | translate }}
          </div>
         </a>
         <a href="https://app.slack.com/client/T1H4XT8DV/C1H3H9KL3" class="teams__item">
           <div class="teams__img-container">
             <picture class="picture-container">
               <img class="picture-container__content teams__img" src="/assets/images/vladimir.png" alt="danil">
              </picture>
           </div>
           <div class="teams__name">
             {{ 'team.Vladimir' | translate }}
             {{ 'team.Fedin' | translate }}
           </div>
           <div class="teams__position">
             {{ 'team.engineer' | translate }}
           </div>
          </a>
        </div>
        <div class="teams">
          <a href="https://app.slack.com/client/T1H4XT8DV/UMRHRAM3M" class="teams__item">
           <div class="teams__img-container">
           <picture class="picture-container">
            <img class="picture-container__content teams__img" src="/assets/images/julia.png" alt="dmitry">
           </picture>
           </div>
           <div class="teams__name">
             {{ 'team.Julia' | translate }}
             {{ 'team.Kozeeva' | translate }}
           </div>
           <div class="teams__position">
             {{ 'team.intern' | translate }}
           </div>
          </a>
          <a href="https://griddynamics.slack.com/messages/U800AQKKJ" class="teams__item">
            <div class="teams__img-container">
              <picture class="picture-container">
                <img class="picture-container__content teams__img" src="/assets/images/mikhail.png" alt="danil">
               </picture>
            </div>
            <div class="teams__name">
             {{ 'team.Mikhail' | translate }}
             {{ 'team.Savchuk' | translate }}
            </div>
            <div class="teams__position">
              {{ 'team.engineer' | translate }}
            </div>
           </a>
         </div>
    </div>
  </div>
</div>
