@import './colors';
@import 'mixins';
@import 'variables';
@import 'fonts';
@import 'button';
@import 'load-more';

.new-arrivals-wrapper {
  @include container;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 80px 0;
  @media (max-width: 880px) {
    justify-content: center;
  }

  &_loading {
    height: 615px;
  }

  &__loading-indicator {
    margin: auto;
  }
}
