$mat-blue-gray-800: #34404b;
$mat-deep-orange-500: #ff5912;
$black: #000000;
$white: #ffffff;

$primary-color: $mat-deep-orange-500;
$secondary-color: $mat-blue-gray-800;

$text-color: $mat-blue-gray-800;