@import 'fonts';
@import 'colors';

.search-container {
  .button_search[type=search]:hover {
    background-color: #fff;
  }
  .button_search[type=search]:focus {
    width: 200px;
    padding-left: 20px;
    color: $black;
    border-bottom: 2px solid $primary-color;
    cursor: auto;
    outline: none;
  }
}