<div class="product-show-wrapper">
  <div class="product-show">
    <div class="product-list">
      <div class="tabs-content">
        <div class="tabs-content__products">
          <div class="slider-container" id="content1">
            <a href=# id=prev class="slider-container__arrow left-arrow"></a>
            <picture class="picture-container">
              <img
                class="picture-container__content"
                [src]="currentImage$ | async"
                alt="">
            </picture>
            <a href=# id=next class="slider-container__arrow right-arrow"></a> 
          </div>
        </div>
        <img
          *ngFor="let image of images"
          class="tabs-content__item"
          [class.tabs-content__item_active]="(currentImage$ | async) === image"
          [src]="image"
          (click)="changeImage(image)">
      </div>
    </div>
    <div class="product-details">
      <div class="product-details__desc">
        <h1 class="title-big title-big_primary-color">
          {{title}}
        </h1>
        <p class="text_marker">
          {{shortDescription}}
        </p>
        <p class="text product-details__text">
          {{description}}
        </p>
      </div>
      <div class="product-details__choose">
        <div class="product-details__size">
          <p class="text_marker product-details__choose-size">
            Choos Size
          </p>
          <ng-container *ngFor="let size of sizes; last as isLast">
            <span class="list-sizes__item list-sizes__item_first-child">
              <span
                class="list-sizes__prop"
                [class.list-sizes__prop_active]="(size$ | async) === size"
                (click)="changeSize(size)">
                {{size | uppercase}}
              </span>
            </span>
            <span class="list-sizes__item" *ngIf="!isLast">-</span>
          </ng-container>
        </div>
        <div class="product-details__quantity">
          <p class="text_marker">
            Choos Quantity
          </p>
          <form class="form-selection">
            <span
              class="form-selection__max"
              (click)="increaseQuantity()">
              +
            </span>
            <span class="form-selection__number">{{quantity$ | async}}</span>
            <span
              class="form-selection__min"
              (click)="decreaseQuantity()">
              -
            </span>
          </form>
        </div>
      </div>
      <div class="product-details__order">
       <div class="product-details__price">
         <p class="text_marker text_large">Price : {{currency}}{{price}}</p>
       </div>
        <div class="product-details__order-links">
          <div class="list-options">
            <ul class="list-options__content">
              <li class="list-options__item">
                <a class="list-options__icon" (click)="shareCb()">
                  <i class="icon icon__share"></i>
                </a>
              </li>
              <li class="list-options__item">
                <a class="list-options__icon" (click)="addToCartCb()">
                  <i class="icon icon__add-to-cart"></i>
                </a>
              </li>
              <li class="list-options__item">
                <a class="list-options__icon" (click)="addToFavoriteCb()">
                  <i class="icon icon__like"></i>
                </a>
              </li>
            </ul>
          </div>
          <a
            class="button button_order product-details__button"
            (click)="orderNow()">
            order now
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
