@import './colors';
@import 'mixins';
@import 'variables';
@import 'fonts';
@import 'button';
@import 'icon';
@import 'picture';

.product-show-wrapper {
  background-color: $white;
}

.product-show {
  @include container;
  @include flex($align-items: flex-start);

  @include for-tablet-portrait-up {
    flex-direction: column;
  }

  .product-list {
    display: flex;
    justify-content: center;
    width: 40%;
    @include for-tablet-portrait-up {
      width: 100%;
    }

    .tabs-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      height: 450px;

      @include for-500px {
        height: auto;
      }

      &__wrapper-item {
        display: block;
        padding: 10px;
        width: 95px;
        height: 69px;
        background-color: #f4f6f8;
        margin: 0;
        margin-bottom: 5px;
        margin-right: 15px;
        border-radius: 0;
        outline: none;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
        @include for-500px {
          display: none;
        }

        &:last-child {
          margin-right: 0;
        }

        &_active {
          background-color: $primary-color;
        }
      }

      &__item {
        // display: flex;
        margin: auto;
        width: auto;
        height: 100%;

      }

      &__products {
        @include flex;
        justify-content: center;
        width: 100%;
        height: 300px;

        .slider-container {
          position: relative;

          &__arrow {
            display: none;
            position: absolute;
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 9px;

            @include for-500px {
              display: block;
            }

            &:active {
              border-color: $primary-color;
            }

            &_disabled {
              border-color: darkgray;

              &:active {
                border-color: darkgray;
              }
            }
          }

          .right-arrow {
            display: none;
            top: 45%;
            right: -40px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);

            @include for-500px {
              display: block;
            }
          }

          .left-arrow {
            display: none;
            top: 45%;
            left: -40px;
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);

            @include for-500px {
              display: block;
            }
          }
        }
      }
    }

    input[type="radio"] {
      display: none;

      &:checked+label {
        background-color: $primary-color;
      }
    }
  }

  .product-details {
    width: 612px;

    @include for-tablet-portrait-up {
      width: 100%;
    }

    &__text {
      padding: 37px 0;

      @include for-phone-intermediate {
        padding: 17px 0;
      }
    }

    &__choose {
      @include flex;
      padding: 40px 0;
      border-top: 2px solid rgba(230, 232, 235, 0.5);
      border-bottom: 2px solid rgba(230, 232, 235, 0.5);

      @include for-500px {
        padding: 20px 0;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__choose-size {
      display: inline;
      margin-right: 10px;
    }

    &__size {
      border-right: 2px solid rgba(230, 232, 235, 0.5);
      min-width: 50%;


      @include for-500px {
        border-right: none;
        padding-bottom: 10px;
      }
    }

    &__order {
      @include flex;
      padding: 60px 0;

      @include for-500px {
        padding: 30px 0;
      }

      &-links {
        @include flex;

        @include for-500px {
          flex-direction: column;
        }
      }

      .list-options {
        &__content {
          margin: 0;
          padding: 0;
          display: flex;
        }

        &__item {
          padding: 0 16px;
          margin-right: -4px;
          vertical-align: middle;
          list-style-type: none;
        }
      }
    }

    &__button {
      text-align: center;
      margin-left: 10px;

      @include for-500px {
        margin-left: 0;
        margin-top: 15px;
      }
    }

    &__quantity {
      display: flex;

      .form-selection {
        user-select: none;
        padding-left: 21px;

        &__max,
        &__min {
          cursor: pointer;
          opacity: 0.82;
          color: #34404b;
          font-family: "Open Sans";
          font-size: 18px;
          font-weight: 400;
        }

        &__number {
          display: inline-block;
          margin: 0 16px;
          border: none;
          min-width: 35px;
          text-align: center;
          font-family: "Open Sans";
          font-size: 18px;
          font-weight: 400;
          color: #ff5912;
        }
      }
    }
  }
}

@-webkit-keyframes tabs-changing-up {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tabs-changing-up {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.list-sizes__prop {
  @include fonts (#34404b, "Open Sans", 14px, 400);
  cursor: pointer;

  &_active {
    color: $primary-color;
  }
}

.preview-container {
  display: flex;
  width: 250px;
  justify-content: space-between;
  align-items: center;
}
