<div class="product-show-wrapper">
  <div class="product-show">
    <div class="product-list">
      <div class="tabs-content" *ngIf="{currentImage: currentImage$ | async} as data">
        <div class="tabs-content__products">
          <div class="slider-container" id="content1">
            <a
              class="slider-container__arrow left-arrow"
              [class.slider-container__arrow_disabled]="data.currentImage === 0"
              (click)="prevImage()">
            </a>
            <picture class="picture-container"
              (click)="openZoomModal()">
              <source class="picture-container__content"
              media="(max-width: 767px)"
              sizes="(max-width: 1230px) 100vw, 1230px"
              srcset="{{ images[data.currentImage]['1_1'] }}">
              <source class="picture-container__content"
              media="(min-width: 768px) and (max-width: 991px)"
              sizes="(max-width: 1757px) 70vw, 1230px"
              srcset="{{ images[data.currentImage]['4_3'] }}">
              <source class="picture-container__content"
              media="(min-width: 992px) and (max-width: 1199px)"
              sizes="(max-width: 2050px) 60vw, 1230px"
              srcset="{{ images[data.currentImage]['16_9'] }}">
              <img class="picture-container__content"
              sizes="(max-width: 3075px) 40vw, 1230px"
              srcset="{{ images[data.currentImage]['scale'] }}"
              src="{{ images[data.currentImage]['default'] }}"
              alt="">
            </picture>
            <a
              class="slider-container__arrow right-arrow"
              [class.slider-container__arrow_disabled]="data.currentImage === images.length - 1"
              (click)="nextImage()">
            </a>
          </div>
        </div>
        <div class="preview-container">
          <picture
            *ngFor="let image of images; index as i"
            class="tabs-content__wrapper-item"
            [class.tabs-content__wrapper-item_active]="data.currentImage === i">
            <source class="tabs-content__item"
            media="(max-width: 767px)"
            sizes="(max-width: 1230px) 100vw, 1230px"
            srcset="{{ image['1_1'] }}"
            (click)="changeImage(i)">
            <source class="tabs-content__item"
            media="(min-width: 768px) and (max-width: 991px)"
            sizes="(max-width: 1757px) 70vw, 1230px"
            srcset="{{ image['4_3'] }}"
            (click)="changeImage(i)">
            <source class="tabs-content__item"
            media="(min-width: 992px) and (max-width: 1199px)"
            sizes="(max-width: 2050px) 60vw, 1230px"
            srcset="{{ image['16_9'] }}"
            (click)="changeImage(i)">
            <img class="tabs-content__item"
            sizes="(max-width: 3075px) 40vw, 1230px"
            srcset="{{ image['scale'] }}"
            src="{{ image['default'] }}"
            alt=""
            (click)="changeImage(i)">
          </picture>
        </div>
      </div>
    </div>
    <div class="product-details">
      <div class="product-details__desc">
        <h1 class="title-big title-big_primary-color">
          {{title}}
        </h1>
        <p class="text_marker">
          {{shortDescription}}
        </p>
        <p class="text product-details__text">
          {{description}}
        </p>
      </div>
      <div class="product-details__choose">
        <div class="product-details__size">
          <p class="text_marker product-details__choose-size">
            {{ 'product show.chooseSize' | translate }}
          </p>
          <ng-container *ngFor="let size of sizes; last as isLast">
            <span class="list-sizes__item list-sizes__item_first-child">
              <span class="list-sizes__prop" [class.list-sizes__prop_active]="(size$ | async) === size"
                (click)="changeSize(size)">
                {{size | uppercase}}
              </span>
            </span>
            <span class="list-sizes__item" *ngIf="!isLast">-</span>
          </ng-container>
        </div>
        <div class="product-details__quantity">
          <p class="text_marker">
            {{ 'product show.chooseQuantity' | translate }}
          </p>
          <form class="form-selection">
            <span class="form-selection__max" (click)="increaseQuantity()">
              +
            </span>
            <span class="form-selection__number">{{quantity$ | async}}</span>
            <span class="form-selection__min" (click)="decreaseQuantity()">
              -
            </span>
          </form>
        </div>
      </div>
      <div class="product-details__order">
        <div class="product-details__price">
          <p class="text_marker text_large">{{ 'price' | translate }} : {{currency}}{{price}}</p>
        </div>
        <div class="product-details__order-links">
          <div class="list-options">
            <ul class="list-options__content">
              <li class="list-options__item">
                <a class="list-options__icon" (click)="shareCb()">
                  <i class="icon material-icons">
                    language
                  </i>
                </a>
              </li>
              <li class="list-options__item">
                <a class="list-options__icon" (click)="addToCartCb()">
                  <i class="icon material-icons button__add_shopping_cart">
                  </i>
                </a>
              </li>
              <li class="list-options__item">
                <app-favourite-button class="list-options__icon" (click)="addToFavoriteCb()">
                </app-favourite-button>
              </li>
            </ul>
          </div>
          <a class="button button_order product-details__button" (click)="orderNow()">
            {{ 'order now' | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
